
}
.heading__first-letter {
  color: red;
  }
.heading__subtitle {
  color: white;
  background: green;
  }
  .heading__navigation-pan {
  background: #C0C0C0;
  }
.article__aside-bar-right {
  background: grey;
}
@media (min-width:320px) {
 .heading {
  font-size: 15px;}}
@media (min-width: 30.063em) {
 .heading {
  font-size: 20px;
 }
 @media (min-width:641px) {
 .heading {
  font-size: 25px;}}
  @media (min-width:961px) {
 .heading {
  font-size: 30px;}}
  @media (min-width:1025px) {
 .heading {
  font-size: 35px;}}
  @media (min-width:1281px) {
 .heading {
  font-size: 40px;}}